<nav class="app-navbar mat-elevation-z6">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="app-logo-title">
      <!--       <img src="../../../../assets/logo.png" alt="" style="max-height: 40px" />
 -->
      <span>{{ title }}</span>
    </div>
    <span class="example-spacer"></span>
    <!--     <ang23-mode-toggle></ang23-mode-toggle>
 -->
  </mat-toolbar>
</nav>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list #components>
      <mat-list-item
        *ngFor="let component of componentList"
        [routerLink]="component.route"
        ><span>{{ component.name }}</span>

        <mat-icon class="pt-2" *ngIf="component.locked">lock</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
